@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: 'Roboto', 'Arial';
}

.banner {
  background-image: url("assets/jumbotron.jpg");
  background-size: cover;
  background-attachment: fixed;
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
}